<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
  <body>
    <h1>Home Page</h1>
    <!--<button type="button" onclick="clicked()">Click here</button>-->
    <h3>Fill in the data to predict whether the person survived the sink of the Titanic</h3>
    <!--<p>for reference you can go to this website: https://youtu.be/zcALUNZNBUk </p>-->

    


    <form  action="{% url 'resultPage' %}" >
      {% csrf_token %}

      <div class="firstClass">
        <p>Class</p>
        <input type="text" name="pclass">
      </div>

      <div class="secondClass">
        <p>Gender</p>
        <input type="text" name="sex">
      </div>


      <div class="thirdClass">
        <p>Age</p>
        <input type="text" name="age">
      </div>

      <div class="fourthClass">
        <p>sibsp</p>
        <input type="text" name="sibsp">
      </div>

      <div class="fifthClass">
        <p>parch</p>
        <input type="text" name="parch">
      </div>

      <div class="sixthClass">
        <p>Fare</p>
        <input type="text" name="fare">
      </div>

      <div class="seventhClass">
        <p>Embarked</p>
        <input type="text" name="embarked">
      </div>

      <div class="eightClass">
        <p>Title</p>
        <input type="text" name="title">
      </div>

      <input class="submitButton" type="submit" >

    </form>


    <script type="text/javascript" src="{% static 'main.js' %}"></script>
  </body>
</html>
